

.character-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  gap:40px 20px;
}

.custom-card{
    /* width: auto; */
    max-width: 330px;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    border-radius:8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    /* overflow: hidden; */
    background:#FFFFFF;
    transition: transform 0.3s linear;
    padding: 16px;


  
}

.custom-card:hover{
  /* background-color: green; Change background color on hover */
  cursor: pointer;
  transform: scale(1.03);
  
}